
 @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&family=Montserrat:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jost&family=Lato&family=Montserrat:wght@100&display=swap');
.new{
    background-color:#26272b;
    /* background-image: url("bg2.png."); */
  
    /* border-color: aqua; */


}
nav{
    font-family: 'Montserrat';
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: transparent;
    color: whitesmoke;
    justify-content: space-between;
    padding-right: 20px;
    
}

nav ul li{
    padding: 0px 12px;
    cursor: pointer;
}

nav ul li:hover{
    border-bottom: 0.2px solid white;
    border-width: 150%;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}


.brand img{
    width: 80px;
    padding : 0px 8px;
    padding-top: 15px;
    padding-left: 15px;
}


.text{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    
}

.banner {
    /* border: 2px solid aqua; */
    display: flex;
    justify-content:center ;
    background-color: rgba(255, 242, 217, 1);
    height: 90px;
    /* margin-left: 400px;
    margin-right: 400px; */
}
.banner h2{
    font-family: 'Lato';
    /* font-weight: medium; */
    font-size: 50px  ;
    padding-top: 15px;
    padding-bottom: 20px;
    letter-spacing: 4px;
}
.logos{
    /* border: 2px solid aqua;  */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center ;
}
 .logos .logo1{
  padding-left: 35px;
  padding-top: 50px;
}
.logos .logo3{
  padding-left: 35px;
  padding-top: 20px;
}
.logos .logo2{
  padding-top: 40px;
  padding-left: 20px;
}
.logos .logo4{
  padding-top: 40px;
  padding-left: 20px;
}
.logos .logo1 img{
  width: 300px;
  height : 80px;
}
.logos .logo2 img{
  width: 265px;
  height : 100px;
}
.logos .logo3 img{
  width: 160px;
  height : 100px;
}
.logos .logo4 img{
  width: 120px;
  height : 100px;

}
    

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffeaea;
  font-family: 'Montserrat'; 
  
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-bottom: 25px;
  letter-spacing:2px;
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffeaea;
}
.footer-links li a{
    text-decoration: none;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgba(255, 242, 217, 1);
  text-decoration: underline;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* .col-xs-1 col-md-3 {
    border: 2px solid aqua;
} */